html, * {
  font-family: 'Montserrat', sans-serif;
}

.purple-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#1766FF), color-stop(99.28%, #A360CC)) center no-repeat;
  background: linear-gradient(180deg, #1766FF 0%, #A360CC 99.28%) center no-repeat;
  color: #FFFFFF;
  padding-bottom: 300px;
}

.purple-bg a {
  color: #FFFFFF;
}

.grey-bg {
  background-color: #F6F6F6;
}

.purple {
  color: #7A15A9 !important;
}

.header-active {
  padding-bottom: 6px;
  border-bottom: 2px solid #FFFFFF;
}

header {
  width: 560px;
  margin-bottom: 60px;
}

header img {
  padding: 20px 40px;
}

header a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
}

header a:hover {
  color: #fff;
}

.hero {
  width: 770px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 80px;
}

.hero h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 14px;
  line-height: 20px;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.top-header img {
  margin-right: 16px;
}

.top-header p {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
}

.top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 8px;
}

.top-block .blue-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  padding: 6px;
  background-color: #2866FA;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 17px;
  margin-right: 10px;
}

.top-block .blue-top img {
  margin-right: 4px;
  width: 12px;
}

.top-block .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  margin-bottom: 24px;
}

.top-block .rating img {
  margin-bottom: 3px;
}

.top-block .rating span {
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  margin-left: 10px;
}

.top-block .payment p {
  margin: 0;
  margin-bottom: 6px;
  color: #797979;
  font-size: 14px;
  line-height: 19px;
}

.top-block .blocks {
  width: 32%;
}

.top-block .first-block {
  position: relative;
}

.top-block .first-block .hover-block {
  position: absolute;
  padding: 4px 6px;
  color: #15A93F;
  border-radius: 4px;
  background-color: #FFFFFF;
  top: 8px;
  left: 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.top-block .second-block {
  margin-left: 24px;
  color: #262626;
}

.top-block .second-block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-block .second-block_header h3 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  margin: 0;
  margin-right: 10px;
}

.top-block .third-block h1 {
  color: #2866FA;
  font-weight: 900;
  font-size: 33px;
  line-height: 45px;
  margin: 0;
}

.top-block .third-block p {
  font-size: 22px;
  line-height: 30px;
  color: #262626;
}

.top-block .third-block .terms {
  margin-top: 13px;
}

.top-block .third-block .terms span {
  color: #797979;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

.top-block .button-block button {
  padding: 12px 50px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  border: none;
  border-radius: 6px;
  background-color: #2866FA;
}

.list-header {
  margin-top: 74px;
}

.list-header h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.book-block {
  background: url("../img/bookOfTheDead/bookofdead-bg.svg") center no-repeat;
  background-size: cover;
  margin-top: -175px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.book-block img {
  margin-top: -70px;
  margin-left: -40px;
}

.book-block_descr {
  padding: 32px;
}

.book-block_descr img {
  margin: 0;
  margin-bottom: 32px;
}

.book-block_descr h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 4px;
}

.book-block_descr p {
  color: #797979;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 32px;
}

.book-block_descr input {
  width: 268px;
  padding: 12px 16px;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  background-color: #F4F4F4;
  margin-right: 16px;
}

.book-block_descr input::-webkit-input-placeholder {
  color: #797979;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.book-block_descr input:-ms-input-placeholder {
  color: #797979;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.book-block_descr input::-ms-input-placeholder {
  color: #797979;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.book-block_descr input::placeholder {
  color: #797979;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.book-block_descr button {
  background-color: #F09A19;
  padding: 15px 50px;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
}

.book-block_descr .book-terms {
  margin-top: 24px;
  font-size: 12px;
  line-height: 17px;
  color: #797979;
}

.top-year {
  margin-top: 80px;
}

.top-year_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  text-align: center;
}

.top-year_header img {
  margin-right: 16px;
}

.top-year_header h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 800;
  margin: 0;
}

.offers-header {
  margin-top: 80px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-size: 28px;
  line-height: 40px;
}

.offers-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers-body_block {
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 32%;
  height: auto;
  padding: 24px;
}

.offers-body_block img {
  margin-bottom: 16px;
}

.offers-body_block h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  margin-bottom: 16px;
}

.offers-body_block p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.bonus-header {
  margin-top: 80px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 40px;
}

.bonus-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.bonus-body_block {
  background: #FFFFFF;
  padding: 24px;
  width: 32%;
  border-radius: 6px;
  margin-bottom: 26px;
}

.bonus-body_block .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.bonus-body_block .header img {
  margin-right: 16px;
}

.bonus-body_block .header h3 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.bonus-body_block ul {
  font-size: 14px;
  line-height: 20px;
  color: #797979;
  padding: 0;
}

.bonus-body_block ul li {
  margin-bottom: 16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bonus-body_block ul li::before {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  vertical-align: middle;
  background: url(../img/li-check.svg) no-repeat left center;
  background-size: contain;
  content: '';
}

footer {
  background-color: #fff;
  padding: 80px 0px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-first_block {
  width: 60%;
}

footer .footer-first_block .header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

footer .footer-first_block .header img {
  margin-right: 32px;
}

footer .footer-first_block .header h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

footer .footer-first_block p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #797979;
}

footer .footer-first_block .copyright {
  margin-top: 24px;
  color: #262626;
}

footer .footer-second_block {
  width: 40%;
}

footer .footer-second_block .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-second_block .list ul {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #797979;
  padding: 0;
}

footer .footer-second_block .list ul li {
  margin-bottom: 8px;
}

footer .footer-second_block .list ul li::before {
  content: "\2022";
  color: #2866FA;
  font-weight: bold;
  display: inline-block;
  width: 6px;
  margin-right: 8px;
}

footer .footer-second_block .companies {
  margin-top: 72px;
  padding-left: 30px;
}

footer .footer-second_block .companies img {
  margin-left: 32px;
}
/*# sourceMappingURL=style.css.map */