$green : #15A93F;
$blue: #2866FA;
$main-black: #262626;
$grey : #797979;
$purple: #7A15A9;
$grey-bg:#F6F6F6;
$orange: #F09A19;

html, * {
    font-family: 'Montserrat', sans-serif;
}
.purple-bg {
    background: linear-gradient(180deg, #1766FF 0%, #A360CC 99.28%) center no-repeat;
    color: #FFFFFF;
    a {
        color: #FFFFFF;
    }
    padding-bottom: 300px;
}
.grey-bg {
    background-color: $grey-bg;
}
.purple {
    color: $purple !important;
}
.header-active {
    padding-bottom: 6px;
    border-bottom: 2px solid #FFFFFF;
}
header {
    width: 560px;
    margin-bottom: 60px;
    img {
        padding: 20px 40px;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
        font-weight: 800;
        &:hover {
            color: #fff;
        }
    }
}
.hero {
    width: 770px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 80px;
    h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 16px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
}
.top {
    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        img {
            margin-right: 16px;
        }
        p {
            margin: 0;
            font-size: 32px;
            line-height: 46px;
            font-weight: 500;
        }
    }
    &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 24px;
        margin-bottom: 8px;
        .blue-top {
            display: flex;
            align-items: center;
            height: 25px;
            padding: 6px;
            background-color: $blue;
            border-radius: 4px;
            color: #FFFFFF;
            font-size: 12px;
            line-height: 17px;
            margin-right: 10px;
            img {
                margin-right: 4px;
                width: 12px;
            }
        }
        .rating {
            display: flex;
            align-items: center;
            margin-top: 4px;
            margin-bottom: 24px;
            img {
                margin-bottom: 3px;
            }
            span {
                font-size: 16px;
                line-height: 22px;
                font-weight: 800;
                margin-left: 10px;
            }
        }
        .payment {
            p {
                margin: 0;
                margin-bottom: 6px;
                color: $grey;
                font-size: 14px;
                line-height: 19px;
            }
        }
        .blocks {
            width: 32%;
        }
        .first-block {
            position: relative;
            .hover-block {
                position: absolute;
                padding: 4px 6px;
                color: $green;
                border-radius: 4px;
                background-color: #FFFFFF;
                top: 8px;
                left: 8px;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
            }
        }
        .second-block {
            margin-left: 24px;
            color: $main-black;
            &_header {
                display: flex;
                align-items: center;
                h3 {
                    font-size: 24px;
                    line-height: 33px;
                    font-weight: 800;
                    margin: 0;
                    margin-right: 10px;
                }
            }
        }
        .third-block {
            h1 {
                color: $blue;
                font-weight: 900;
                font-size: 33px;
                line-height: 45px;
                margin: 0;
            }
            p {
                font-size: 22px;
                line-height: 30px;
                color: $main-black;
            }
            
            .terms {
                margin-top: 13px;
                span {
                    color: $grey;
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 500;
                }
            }
        }
        .button-block {
            button {
                padding: 12px 50px;
                color: #FFFFFF;
                font-size: 20px;
                line-height: 24px;
                font-weight: 800;
                border: none;
                border-radius: 6px;
                background-color: $blue;
            }
        }
    }
}
.list {
    &-header {
        margin-top: 74px;
        h3 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 800;
            margin-bottom: 24px;
        }
    }
}

.book-block {
    background: url('../img/bookOfTheDead/bookofdead-bg.svg') center no-repeat;
    background-size: cover;
    margin-top: -175px;
    border-radius: 4px;
    display: flex;
    padding: 0;
    img {
        margin-top: -70px;
        margin-left: -40px;
    }
    &_descr {
        padding: 32px;
        img {
            margin: 0;
            margin-bottom: 32px;
        }
        h2 {
            font-weight: 800;
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 4px;
        }
        p {
            color: $grey;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            margin-bottom: 32px;
        }
        input {
            width: 268px;
            padding: 12px 16px;
            border: 1px solid #CDCDCD;
            border-radius: 4px;
            background-color: #F4F4F4;
            margin-right: 16px;
            &::placeholder {
                color:#797979;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
            }
        }
        button {
            background-color: $orange;
            padding: 15px 50px;
            border:none;
            border-radius: 6px;
            color: #FFFFFF;
            font-size: 20px;
            line-height: 20px;
            font-weight: 800;
        }
        .book-terms {
            margin-top: 24px;
            font-size: 12px;
            line-height: 17px;
            color: $grey;

        }
    }
}
.top-year {
    margin-top: 80px;
    &_header {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        text-align: center;
        img {
            margin-right: 16px;
        }
        h2 {
            font-size: 32px;
            line-height: 46px;
            font-weight: 800;
            margin: 0;
        }
    }
}
.offers {
    &-header {
        margin-top: 80px;
        text-align: center;
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        font-size: 28px;
        line-height: 40px;
    }
    &-body {
        display: flex;
        justify-content: space-between;
        &_block {
            background-color: #FFFFFF;
            border-radius: 4px;
            width: 32%;
            height: auto;
            padding: 24px;
            img {
                margin-bottom: 16px;
            }
            h3 {
                font-size: 24px;
                line-height: 32px;
                font-weight: 800;
                margin-bottom: 16px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                margin: 0;
            }
        }
    }
}
.bonus {
    &-header {
        margin-top: 80px;
        text-align: center;
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 40px;
    }
    &-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 54px;
        &_block {
            background: #FFFFFF;
            padding: 24px;
            width: 32%;
            border-radius: 6px;
            margin-bottom: 26px;
            .header {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                img {
                    margin-right: 16px;
                }
                h3 {
                    margin: 0;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 800;
                }
            }
            ul {
                font-size: 14px;
                line-height: 20px;
                color: $grey;
                padding: 0;
                li {
                    margin-bottom: 16px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    &::before{
                        display: block;
                        flex-shrink: 0;
                        width: 16px;
                        height: 16px;
                        margin-right: 12px;
                
                        vertical-align: middle;
                    
                        background: url(../img/li-check.svg) no-repeat left center;
                        background-size: contain;
                
                        content: '';
                    }
                }
            }
        }
    }
}
footer {
    background-color: #fff;
    padding: 80px 0px;
    .footer {
        display: flex;
        &-first_block {
            width: 60%;
            .header {
                width: 70%;
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                img {
                    margin-right: 32px;
                }
                h3 {
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;
                }
            }
            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: $grey;
            }
            .copyright {
                margin-top: 24px;
                color: $main-black;
            }
        }
        &-second_block {
            width: 40%;
            .list {
                display: flex;
                justify-content: space-between;
                ul {
                    list-style: none; 
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $grey;
                    padding: 0;
                    li {
                        margin-bottom: 8px;
                        &::before {
                            content: "\2022"; 
                            color: #2866FA; 
                            font-weight: bold; 
                            display: inline-block; 
                            width: 6px; 
                            margin-right: 8px;
                        }
                    }
                }
            }
            .companies {
                margin-top: 72px;
                padding-left: 30px;
                img {
                    margin-left: 32px;
                }
            }
        }
    }
}